<!--end main container -->
	</div> 
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-muted">Thanks for stopping by!</p>
				</div>
			</div>
		</div>
	</footer>

	<!--Login Modal -->
		<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
		  <div class="modal-dialog modal-login">
		    <div class="modal-content">
		    	<div class="modal-header">
		       		<h5 class="modal-title">Login</h5>
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          		<span aria-hidden="true">&times;</span>
		        	</button>
		      	</div>
		      	<div class="modal-body">
		      		<form class="logInForm" action="login" method="POST">
			            <div class="form-group">
			                <input type="text" class="form-control" name="username" placeholder="Username" required="required">
			            </div>
			            <div class="form-group">
			                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
			            </div>
			            <div class="form-group">
			      			<button type="submit" class="btn btn-primary btn-block">Login</button>
			      		</div>
					</form>
					<p class="float-left">Not a Dyver yet? <a href="/signup">SignUp</a></p>
		      	</div>
			   </form>
		    </div>
		  </div>
		</div>

	<!-- Scripts -->

  	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	<script src="/assets/js/logic.js"></script>
  	<script src="/assets/js/post.js"></script>

  
</body>

</html>