<!DOCTYPE html>
<html lang="en">
  <head>
    
      <title>Dyv-iN | {{title}}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
      <link rel="stylesheet" href="/assets/css/style.css">
      <link rel="shortcut icon" href="/favicon.ico">

  </head>

  {{#if login}}
    <body>
      {{>navbar}}
  {{else}}
    <body id="profileBody">
      {{>navbar}}
    <div class="bg"> 
        <nav class="navbar navbar-light bg-light static-top">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><img id="cornerLogo" src="/assets/images/Dyv-iN-logo.png">
             <div id="tagNameBox">
                <h2 id="tagName">Dyv-iN...</h2>
                <div id="tagBox">
                  <h5 id="tagSubtext">find the spots where locals flock.</h5>
                </div>
              </div>
            </a>
            <a class="btn btn-primary nav-link login" data-toggle="modal" data-target="#loginModal">Log In</a>
          </div>
        </nav>
    {{/if}} 
    