<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dyv-iN | {{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
  {{#if login}}
    <body>
      {{>navbar}}
  {{else}}
    <body id="welcomeBackground">
      {{>navbar}}
      <div class="welcome-header">
          <a href="/"><img id="cornerLogo" src="/assets/images/Dyv-iN-logo.png"></a>
        
          <div id="tagNameBox">
            <h1 id="tagName">Dyv-iN...</h1>
          
            <div id="tagBox">
              <h3 id="tagSubtext">find the spots where locals flock.</h3>
            </div>
          </div>
          <a class="nav-link" data-toggle="modal" data-target="#loginModal">Login In</a>
      </div>
  {{/if}}
  
  <div class="container">
