<div id="navbar">

	<img id="navbarLogo" src="images/Dyv-iN-logo.png">

	<div id="navbarNameBox">
		<h1 id="navbarName">DYV-iN</h1>
	</div>
	<div id="navbarButtonHolder">
		<div id="navbarBox">
			<p id="navbarBoxText">Profile</p>
		</div>
		<div id="navbarBox">
			<p id="navbarBoxText">Map</p>
		</div>
		<div id="navbarBox">
			<p id="navbarBoxText">Logout</p>
		</div>
	</div>
</div>