{{#if this.viewable}}
	<div class="card ml-5 mb-3" style="width: 15rem;">
		<div class="card-body">
			<h5 class="card-title">{{this.name}}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="/place/{{this.id}}" class="card-link">Another link</a>
		</div>
	</div>
{{/if}}
