<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{posts.name}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{posts.type}}</h6>
    <p class="card-text">{{posts.review}}</p>
    <a href="#" class="card-link">Restaurant</a>
    <a href="#" class="card-link">Review</a>
  </div>
</div>