<div class="card ml-3 mb-3" style="width: 18rem;">
  	<div class="card-body">
    	<h5 class="card-title">{{places.name}}</h5>
    	<h6 class="card-subtitle mb-2 text-muted">{{places.address}}</h6>
    	<p class="card-text">{{places.review}}</p>
    	<a href="#" class="card-link">Restaurant Link</a>
    	<a href="#" class="card-link">Profile Link</a>
  	</div>
</div>