<div id="profileReviewBox">
	<div id="profileReviewTitle">
		<h3>{{posts.name}}</h3>
	</div>
	<div id="profileReviewText">
		<p>{{posts.review}}</p>
	</div>
	<div id="profileReviewLinkBox">
		<p>{{posts.name}}</p>
		<p>{{posts.type}}</p>
	</div>
</div>

REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY
REMOVE ANCHOR TAGS FOR REMBERING LINK ONLY