<div class="card">
  <div class="card-header">
    Category Name Here
  </div>
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.body}}</p>
    <a href="#" value="{{this.placeId}}" class="btn btn-primary">Link to Establishment Page</a>
</div>
