<div class="card mb-3">
	<div class="card-header">
    	Category Name Here
  	</div>
  	<div class="card-body">
    	<h5 class="card-title">{{this.title}}</h5>
    	<p class="card-text">{{this.body}}</p>
    	<a href="/place/{{this.placeId}}" value="{{this.placeId}}" class="btn btn-primary">View</a>
	</div>
</div>
