<!DOCTYPE html>
<html>
<head>
	<title>¸.·´¯`¸¸.·´¯`¸¸.·´¯`¸¸</title>

	<link rel="stylesheet" href="../../public/assets/css/style.css">
</head>

<body id="welcomeBackground">
	<div>
		<img id="cornerLogo" src="../../public/assets/images/Dyv-iN-logo.png">
	
		<div id="tagNameBox">
			<h1 id="tagName">Dyv-iN...</h1>
		
			<div id="tagBox">
				<h3 id="tagSubtext">find the spots where locals flock.</h3>
			</div>
		</div>

		<div id="registrationForm">
			<form id="registrationTextBox">
				<br>
				<h4 id="registrationText">E-mail:  <input id="registrationField" type="text" name="email" value=""></h4>
				<br>
				<br>
 				<h4 id="registrationText">Username :  <input id="registrationField" type="text" name="username" value=""></h4>
 				<br>
 				<h4 id="registrationText">Password :  <input id="registrationField" type="text" name="password" value=""></h4>
 				<br>
 				<h4 id="registrationText">Verify Password :  <input id="registrationField" type="text" name="verifyPassword" value=""></h4>
  				<br><br>
  				<div id="registrationSubmit"><input type="submit" value="Submit"></div>
			</form> 
		</div>

		
	</div>
</body>
</html>