<!DOCTYPE html>
<html>
<head>
	<title>¸.·´¯`¸¸.·´¯`¸¸.·´¯`¸¸</title>

	<link rel="stylesheet" href="../../public/assets/css/style.css">
</head>

<body id="welcomeBackground">
	<div>
		<img id="cornerLogo" src="../../images/Dyv-iN-logo.png">
	
		<div id="tagNameBox">
			<h1 id="tagName">Dyv-iN...</h1>
		
			<div id="tagBox">
				<h3 id="tagSubtext">find the spots where locals flock.</h3>
			</div>
		</div>

		<div id="welcomeInquiryBox">
			<h2 id="welcomeInquiry">What city are we looking into today...</h2>
			
			<form>
				<br>
 				<input id="citySearchField" type="text" name="citySearch" value="">
  				<br><br>
  				<div id="registrationSubmit"><input type="submit" value="Submit"></div>
			</form> 
		</div>

		
	</div>
</body>
</html>