<div class="row">
    <form class="adminForm" action="admin" method="POST">
      <div class="form-group">
        <label for="category_name">New Category</label>
        <input type="text" class="form-control" id="category_name" name="category_name">
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>


    <form id="cms-place">
      <div class="form-group">
        <label for="placeName">Name</label>
        <input placeholder="Post Title" type="text" class="form-control" id="placeName">
        <label for="placeAddress">Address</label>
        <input type="text" class="form-control" id="placeAddress">
        <div class="form-group">
          <label for="categoryId">Select Category:</label>
          <select class="form-control" id="categoryId"></select>
        </div>
        <div class="form-group">
          <label for="cityId">Select City:</label>
          <select class="form-control" id="cityId"></select>
        </div>
        <button type="submit" class="btn btn-success submit">Submit</button>
      </div>
    </form>


    <form id="cms-city" action="admin" method="POST">
      <div class="form-group">
        <label for="cityName">Add City</label>
        <input placeholder="City Name" type="text" class="form-control" id="cityName" name="cityName">
      </div>
      <button type="submit" class="btn btn-success submit">Submit</button>
    </form>

   

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="menu-mid">
          <ul class="menu-block">
            {{#each places}}
              <div class="menu-item">
                {{#unless this.viewable}}
                  <p class="place">{{this.name}}</p>
                  <p class="burger">{{this.address}}</p>
                  <form method="POST" action="/places/update?_method=PUT" class="button-size">
                    <p class="customer-name"><input type="hidden" name="placeId" value="{{this.id}}"></p>
                    <button class="btn btn-warning devour">Approve</button>
                  </form>
                {{/unless}}
              </div>
            {{/each}}
          </ul>
        </div>
</div>
  