<div class="row">
	<div class="card mb-3 mt-3">
		<img class="card-img-top" src="public/assets/images/Welcome3.png" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{place.title}}</h5>
			<p class="card-text">This is where we will contain information about locations addresses, type, hours etc.</p>
		</div>
	</div>
</div>