<div class="row">
    <div class="col-xl-12 text-center">
    	<img src="{{profile.image}}" class="img-thumbnail rounded-circle">
    </div>
</div>
<div class="row">
    <div class="col-xl-12 text-center mt-4">
    	<h1>{{profile.name}}</h1>
    </div>
</div>
<br>
<hr>
<br>