/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ! WELCOME & REGISTRATION PAGE STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

body {
	background-image: url('/assets/images/memphis-colorful.png');
}

/* landing page */
.features-icons {
	padding-top: 7rem;
	padding-bottom: 7rem;
  }
  
  .features-icons .features-icons-item {
	max-width: 20rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon {
	height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
	font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
	font-size: 5rem;
  }

#welcomeBackground {
	background-image: url('/assets/images/Welcome4.png');
	background-size: cover;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#cornerLogo {
	border-radius: 20px;
	margin-left: 50px;
	margin-top: 50px;
	height: 120px;
	width: 120px;
}

#tagNameBox {
	border-radius: 10px;
	background-color: black;
	align-content: center;
	width: 500px;
	height: 120px;
	opacity: 0.8;
	color: white;
	margin-left: 200px;
	margin-top: -120px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 10px;
	font-family: 'Ubuntu', sans-serif, 'regular';
}

#tagName {
	font-family: 'Ubuntu', sans-serif, 'regular';
}

#tagSubtext {
	text-align: right;
	padding-right: 10px;
	font-family: 'Ubuntu', sans-serif, 'italic';
}

#welcomeInquiryBox {
	border-radius: 10px;
	background-color: black;
	padding-right: 5px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: 50px;
	width: 500px;
	opacity: 0.8;
	color: white;
	align-content: center;
}

#welcomeInquiryForm {
	margin: auto;
}

#welcomeInquiry {
	font-family: 'Ubuntu', sans-serif, 'regular italic'
}

#citySearch {
	width: 95%;
	margin: auto;
}

#registrationForm {
	border-radius: 10px;
	background-color: black;
	padding-right: 5px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: 100px;
	width: 70%;
	opacity: 0.8;
	color: white;
	align-content: center;
}

#registrationText {
	margin-top: 0px;
	text-align: right;
	margin-right: 80px;

}

#registrationTextBox {
	margin-top: 30px;
}

#registrationSubmit {
	text-align: center;
}

#registrationField {
	width: 80%;
}


/* !!!!!!!!!!!!!!!!!!! */
/* ! NAVBAR STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!! */

#navbar {
	width: 102%;
	height: 60px;
	margin-left: -10px;
	margin-top: -10px;
	background-color: #bf62f6;
}

#navbarLogo {
	height: 60px;
	width: 60px;
	margin-left: 20px;
}

#navbarName {
	text-align: center;
	font-family: 'Concert One', cursive;
	color: white;
}

#navbarNameBox {
	margin-top: -72px;
	color: white;
}

#navbarBox {
	background-color: white;
	border-radius: 40px;
	width: 80px;
	float: left;
	margin-right: 10px;
}

#navbarButtonHolder {
	float: right;
	width: 300px;
	margin-top: -66px;
}

#navbarBoxText {
	text-align: center;

	font-family: 'Shrikhand', cursive;
}


/* !!!!!!!!!!!!!!!!!!!! */
/* ! PROFILE STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!! */

#profileReviewBox {
	
}



/* !!!!!!!!!!!!!!!!!!! */
/* ! FOOTER STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!! */

footer {
	left: 0;
	bottom: 0;
	background: #CCC;
	padding: 40px;
	text-align: center;
	width: 100%;
}

/* !!!!!!!!!!!!!!!!!!! */
/* ! LOG IN STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!! */


.logInForm {
	width: 100%;
	margin: 0 auto;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ! HOMEPAGE BOOTSTRAP STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.bg { 
	/* background-image: url('/assets/images/memphis-colorful.png'); */
	background-size: cover;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
} 

.categoryBox {
	background: black;
	color: white;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ! ADMIN PAGE STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.table-wrapper {
	background: #fff;
}
.table-title {        
	background: #435d7d;
	color: #fff;
	padding: 15px 30px;
	border-radius: 3px 3px 0 0;
}


