/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ! WELCOME & REGISTRATION PAGE STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

body {
	background: #F5F5DC;
}

/* landing page */
.landing > section {
	margin: 30px 0;
}

.features {
	padding-top: 7rem;
	padding-bottom: 7rem;
}

.showcase-img {
	height: 300px;
}

.login {
	background-color: white;
	color: purple;
	border-color: purple;
}

/* .ourPhoto {
	height: 200px;
	max-width: 277px;
} */


#welcomeBackground {
	background-image: url('/assets/images/Welcome4.png');
	background-size: cover;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#cornerLogo {
	border-radius: 20px;
	margin-left: 50px;
	margin-top: 10px;
	height: 80px;
	width: 80px;
}

#tagNameBox {
	border-radius: 10px;
	background-color: black;
	align-content: center;
	width: 500px;
	height: 80px;
	opacity: 0.8;
	color: white;
	margin-left: 200px;
	margin-top: -80px;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 10px;
	font-family: 'Ubuntu', sans-serif, 'regular';
}

#tagName {
	font-family: 'Ubuntu', sans-serif, 'regular';
	margin-top: -5px;
}

#tagSubtext {
	text-align: right;
	padding-right: 10px;
	padding-top: -40px;
	font-family: 'Ubuntu', sans-serif, 'italic';
}

header.masthead {
	position: relative;
	background-color: #343a40;
	background-image: url('/assets/images/Welcome4.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 8rem;
	padding-bottom: 8rem;
	height: 600px;
  }

#welcomeInquiryBox {
	border-radius: 10px;
	background-color: black;
	padding-right: 5px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: 50px;
	width: 300px;
	opacity: 0.8;
	color: white;
	align-content: center;
}

#welcomeInquiryForm {
	margin: auto;
}

#welcomeInquiry {
	margin-top: 40px;
	font-family: 'Ubuntu', sans-serif, 'regular italic';
}

#citySearch {
	width: 85%;
	margin: auto;
}

#registrationForm {
	border-radius: 10px;
	background-color: black;
	padding-right: 5px;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 20px;
	margin: auto;
	margin-top: 100px;
	width: 70%;
	opacity: 0.8;
	color: white;
	align-content: center;
}

#registrationText {
	margin-top: 0px;
	text-align: right;
	margin-right: 80px;

}

#registrationTextBox {
	margin-top: 30px;
}

#registrationSubmit {
	text-align: center;
	margin-top: 20px;
}

.welcomeMessage {
	margin-top: 55px;
}

#registrationField {
	width: 80%;
}


/* !!!!!!!!!!!!!!!!!!! */
/* ! NAVBAR STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!! */

.container-fluid {
	margin-top: -10px;
}

.navbar {
	height: 100px;
}

#navbarLogo {
	height: 60px;
	width: 60px;
	margin-left: 20px;
}

#navbarName {
	text-align: center;
	font-family: 'Concert One', cursive;
	color: white;
}

#navbarNameBox {
	margin-top: -72px;
	color: white;
}

#navbarBox {
	background-color: white;
	border-radius: 40px;
	width: 80px;
	float: left;
	margin-right: 10px;
}

#navbarButtonHolder {
	float: right;
	width: 300px;
	margin-top: -66px;
}

#navbarBoxText {
	text-align: center;
	font-family: 'Shrikhand', cursive;
}


/* !!!!!!!!!!!!!!!!!!!! */
/* ! PROFILE STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!! */

.profile-img {
	max-height: 300px;
}

/* !!!!!!!!!!!!!!!!!!! */
/* ! FOOTER STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!! */

footer {
	left: 0;
	bottom: 0;
	background: #CCC;
	padding: 20px;
	text-align: center;
	width: 100%;
}

/* !!!!!!!!!!!!!!!!!!! */
/* ! LOG IN STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!! */


.logInForm {
	width: 100%;
	margin: 0 auto;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ! HOMEPAGE BOOTSTRAP STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.bg { 
	background-size: cover;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
} 

.categoryBox {
	background: black;
	color: white;
}

.testimonialBox {
	margin-top: -50px;
	margin-bottom: -50px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ! ADMIN PAGE STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.table-wrapper {
	background: #fff;
}
.table-title {        
	background: #435d7d;
	color: #fff;
	padding: 15px 30px;
	border-radius: 3px 3px 0 0;
}

/* footer */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* ! PLACE PAGE STYLINGS ! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.card-img-top {
	max-height: 400px;
}